
<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Carrito</h3>
        </div>
        <div class="card-body">
            <form action="/:cid/products/:pid" method="POST"></form>
            
        </div>
    </div>
</div>